* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: midnightblue;
    color: #fff;
}

body {
    padding: 100px 200px;
}

button {
    margin-bottom: 20px;
    width: 100px;
}

ul li {
    display: none;
}